<div class="padding">

<h1>Nice transition, eh?</h1>

<p>That was <em>native</em>, not CSS3. Also, the resource-wide layout file is applied also in this document.</p>

<h2>Still alive</h2>

<p>That previous view is still living under this document: you can go back there by tapping the native back button.</p>

<h2>Lessons learned</h2>

<p>So far you have mastered that:</p>

<p><code>config/application.coffee</code> configures your project settings.</p>
<p>The <code>app/</code> folder has Steroids benefits – it's a good place for your application's views.</p>
<p>The <code>www/</code> folder is for your other files.</p>
<p>The <code>app/</code> and <code>www/</code> folders are brought together as the <code>dist/</code> folder.</p>
<p>The <code>dist/</code> folder is copied as-is to your connected mobile devices.</p>
<p><code>http://localhost/</code> serves your project files as they appear in <code>dist/</code>.</p>

<h2>Next up</h2>

<p>In the next part you learn about controllers:</p>

<p><code><small>$ steroids generate tutorial controllers</small></code></p>

<p>Hope to see you there soon!</p>

</div>
